/* @import './skeleton.css'; */
@import './bootstrap.min.css';
@import './override.css';
@import './index.css';
@import './parts.css';

a,
a:hover {
    color: white;
    text-decoration: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.inner-header {
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}

.common-title {
    /* font-size: 25px;
    font-weight: 500; */
    color: #3C4B64;
    font-size: 1.75rem;
    font-weight: 500;
}


.overflow-container {
    height: 100%;
    overflow-y: auto;
}

.overflow-container-title {
    height: calc(100% - 70px);
    overflow-y: auto;
}

.tableFixHead {
    overflow: auto;
    height: calc(100% - 70px);
}

.tableFixHead thead th {
    position: sticky;
    top: 0;
    z-index: 1;
}

/* Just common table stuff. Really. */
table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 8px 16px;
}

th {
    background: #eee;
}

.filter-inner {
    display: flex;
    justify-content: space-between;
}

.filter-inner>.filter-item {
    margin: 0px 10px;
    width: calc(100%/6) !important;
}

.part-tr>td>div {
    max-width: 185px;
    /* text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; */
}